.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px; 
    background-color: #3dade6; 
    color: #fff; 
  }
  
  .sidebar-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-item {
    margin-bottom: 10px;
    
  }
  
  .sidebar-link {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  .sidebar-link:hover {
    background-color: #f7f2f2; 
    color:black
  }
  